@charset "UTF-8";


/* 스타일초기화 */
*{
	margin:0;
	padding:0; 
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

*{ 
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box; 
	box-sizing: border-box;
}

html, 
body { 
	width:100%;
	height: 100%;
}

body{
	font-family: 'NanumSquare',sans-serif;
	width:100%; 
	overflow-x:hidden;
	word-break: keep-all; 
	word-wrap: break-word; 
}


a {text-decoration:none;}
a:link, a:visited {text-decoration:none;}
a:hover,  a:active {text-decoration:none;}


/*table 기본설정*/
table{
	border:none; 
	border-collapse:collapse; 
	border-spacing:0;
}

td,
th,
img,
abbr,
acronym, 
img,
fieldset,
iframe{
	border:0 none;
	padding:0;
	margin:0;
	outline:none;
}

dl, 
dt, 
dd, 
ul,
ol,
ul{
	margin:0;
	padding:0; 
	list-style:none;
}

h1,h2,h3,h4,h5,h6,strong{
	font-weight:normal;
}

caption, 
legend{
	overflow:hidden;
	visibility:hidden;
	font-size:0;
	line-height:0;
	height:0;
	width:0;
	text-indent:-999em;
}

img, 
input, 
button, 
select, 
textarea {
	vertical-align:middle;
}

button{
	-webkit-appearance:none; 
	-moz-appearance: none;
	appearance: none;
	-webkit-border-radius:0; 
	border-radius:0;
	border:none;
	background:transparent;
	/*outline:none;*/
}

/*
button:focus , a:focus{outline: none;}*/
img{outline:none;}

input[type="button"],
input[type='checkbox'],
input[type='radio'],
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="submit"]{
	margin:0;
	padding:0;
	-webkit-appearance:none; 
	-moz-appearance: none;
	appearance: none;
	-webkit-border-radius:0; 
	border-radius:0;
	border:none;
}

textarea{	
	-webkit-appearance:none; 
	-moz-appearance:none; 
	appearance:none;
	-webkit-border-radius:0;
	border-radius:0; 
	border:none;
}
/*
select::-ms-expand{display: none;}
*/


textarea:focus, 
input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus{
	border:1px solid #8045dd !important;
	/*outline:none;*/

}

::-ms-clear {  display: none; }
::-ms-reveal {  display: none; }
::-ms-expand{display: none;}

/*** input **/
input::-webkit-input-placeholder{color:#777;} 
input::-moz-placeholder{color:#777;}
.ie8 a:active, .ie8 a:focus {outline: none; ie-dummy: expression(this.hideFocus=true);}





/* 폰트 스타일 */
@font-face {
  font-family:'NanumSquare';
  src: url(../font/NanumSquareR.woff2) format('woff2'),
  url(../font/NanumSquareR.woff) format('woff'),
  url(../font/NanumSquareR.otf) format('opentype');
}
@font-face {
  font-family:'NanumSquare Light';
  src: url(../font/NanumSquareL.woff2) format('woff2'),
  url(../font/NanumSquareL.woff) format('woff'),
  url(../font/NanumSquareL.otf) format('opentype');
}
@font-face {
  font-family:'NanumSquare ExtraBold';
  src: url(../font/NanumSquareEB.woff2) format('woff2'),
  url(../font/NanumSquareEB.woff) format('woff'),
  url(../font/NanumSquareEB.otf) format('opentype');
}
@font-face {
  font-family:'NanumSquareBold' ;
  src: url(../font/NanumSquareB.woff2) format('woff2'),
  url(../font/NanumSquareB.woff) format('woff'),
  url(../font/NanumSquareB.otf) format('opentype');
}
@font-face {
  font-family:'Futura Std Heavy' ;
  src: url(../font/FuturaStdHeavy.woff2) format('woff2'),
  url(../font/FuturaStdHeavy.woff) format('woff'),
  url(../font/FuturaStdHeavy.otf) format('opentype');
}
@font-face {
  font-family:'FuturaBT Heavy' ;
  src: url(../font/FuturaBTHeavy.woff2) format('woff2'),
  url(../font/FuturaBTHeavy.woff) format('woff'),
  url(../font/FuturaBTHeavy.otf) format('opentype');
}











































